$light-bg: url('../../../assets/images/light.gif');
$dark-bg: url('../../../assets/images/dark.gif');
$grey: #424242;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
